In [1]:
import numpy as np
import pandas as pd

In [3]:
augmented_data = pd.read_csv('Resources/augmented_raw_data.csv', low_memory=False)

In [4]:
augmented_data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,06/14/2019,0:00,BRONX,10461,40.836327,-73.827614,"(40.836327, -73.827614)",CROSBY AVENUE,BAISLEY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4152765,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1,06/14/2019,0:00,BROOKLYN,11207,40.685127,-73.906430,"(40.685127, -73.90643)",PILLING STREET,EVERGREEN AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4152260,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,06/14/2019,0:00,BROOKLYN,11212,40.661655,-73.927950,"(40.661655, -73.92795)",NaN,NaN,950 RUTLAND ROAD,...,NaN,NaN,NaN,NaN,4151711,Sedan,NaN,NaN,NaN,NaN
3,06/14/2019,0:00,QUEENS,11413,40.675213,-73.737800,"(40.675213, -73.7378)",MERRICK BOULEVARD,232 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4151632,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,06/14/2019,0:00,BRONX,10466,40.887420,-73.894490,"(40.88742, -73.89449)",MAJOR DEEGAN EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4151943,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN

In [14]:
# Filtering for duplicate rows grouped by location
duplicated_rows = pd.concat(g for _, g in raw_data.groupby(['ON STREET NAME']) if len(g) > 1)

In [9]:
duplicated_rows.shape

(984606, 29)

In [11]:
duplicated_rows.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
660829,07/24/2016,9:01,MANHATTAN,10028,40.773709,-73.947934,"(40.7737086, -73.9479338)",,,516 EAST 83 STREET,...,Unspecified,NaN,NaN,NaN,3488074,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
661988,07/22/2016,19:30,MANHATTAN,10001,40.748466,-73.990530,"(40.7484656, -73.9905298)",,,146 WEST 31 STREET,...,Unspecified,NaN,NaN,NaN,3486412,PASSENGER VEHICLE,AMBULANCE,NaN,NaN,NaN
662919,07/21/2016,8:05,BROOKLYN,11220,40.666094,-73.795390,"(40.6660939, -73.7953901)",,,,...,Unspecified,NaN,NaN,NaN,3484915,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
673418,07/04/2016,15:03,STATEN ISLAND,10301,40.619168,-74.106521,"(40.6191681, -74.1065209)",,,1100 CLOVE ROAD,...,NaN,NaN,NaN,NaN,3474668,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
675711,06/30/2016,14:00,BROOKLYN,11237,40.698719,-73.919127,"(40.698719, -73.9191269)",,,1408 MYRTLE AVENUE,...,Unspecified,NaN,NaN,NaN,3472344,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [34]:
duplicated_rows['ON STREET NAME'].unique()

array(['                                ',
       '1 AVENUE                        ',
       '1 Avenue                        ', ...,
       'willow road east                ',
       'woodhaven blvd                  ',
       'york avenue                     '], dtype=object)

In [35]:
duplicated_rows['ON STREET NAME'].replace('                                ', np.nan, inplace=True)
duplicated_rows.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
660829,07/24/2016,9:01,MANHATTAN,10028,40.773709,-73.947934,"(40.7737086, -73.9479338)",NaN,,516 EAST 83 STREET,...,Unspecified,NaN,NaN,NaN,3488074,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
661988,07/22/2016,19:30,MANHATTAN,10001,40.748466,-73.990530,"(40.7484656, -73.9905298)",NaN,,146 WEST 31 STREET,...,Unspecified,NaN,NaN,NaN,3486412,PASSENGER VEHICLE,AMBULANCE,NaN,NaN,NaN
662919,07/21/2016,8:05,BROOKLYN,11220,40.666094,-73.795390,"(40.6660939, -73.7953901)",NaN,,,...,Unspecified,NaN,NaN,NaN,3484915,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
673418,07/04/2016,15:03,STATEN ISLAND,10301,40.619168,-74.106521,"(40.6191681, -74.1065209)",NaN,,1100 CLOVE ROAD,...,NaN,NaN,NaN,NaN,3474668,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
675711,06/30/2016,14:00,BROOKLYN,11237,40.698719,-73.919127,"(40.698719, -73.9191269)",NaN,,1408 MYRTLE AVENUE,...,Unspecified,NaN,NaN,NaN,3472344,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [36]:
duplicated_rows_w_streets = duplicated_rows[duplicated_rows['ON STREET NAME'].notna()]

In [41]:
sorted_duplicated_rows_w_streets = duplicated_rows_w_streets.sort_values('ON STREET NAME')
sorted_duplicated_rows_w_streets.head(10000)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
401,06/14/2019,19:30,MANHATTAN,10017,40.753242,-73.966620,"(40.753242, -73.96662)",1 AVENUE,EAST 49 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4151695,Taxi,Motorcycle,NaN,NaN,NaN
984352,02/10/2015,8:15,MANHATTAN,10029,40.783934,-73.944225,"(40.7839338, -73.9442245)",1 AVENUE,EAST 97 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3166915,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
983954,02/10/2015,12:30,MANHATTAN,10010,40.736791,-73.978497,"(40.7367906, -73.9784973)",1 AVENUE,EAST 23 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3166850,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
983896,02/10/2015,11:06,MANHATTAN,10022,40.755130,-73.965241,"(40.7551305, -73.9652411)",1 AVENUE,EAST 52 STREET,NaN,...,NaN,NaN,NaN,NaN,3166878,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
983867,02/10/2015,10:30,BROOKLYN,11220,40.646504,-74.023207,"(40.6465038, -74.0232069)",1 AVENUE,57 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3167130,SPORT UTILITY / STATION WAGON,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
983848,02/10/2015,10:00,MANHATTAN,10009,40.725777,-73.986604,"(40.7257771, -73.9866041)",1 AVENUE,EAST 5 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3166830,LARGE COM VEH(6 OR MORE TIRES),BUS,NaN,NaN,NaN
983823,02/11/2015,9:25,MANHATTAN,10021,40.765868,-73.957413,"(40.765868, -73.9574126)",1 AVENUE,EAST 69 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3167464,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
983800,02/11/2015,8:59,MANHATTAN,10010,40.736791,-73.978497,"(40.7367906, -73.9784973)",1 AVENUE,EAST 23 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3168611,TAXI,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
983559,02/11/2015,18:20,MANHATTAN,10029,40.787064,-73.941936,"(40.7870644, -73.941936)",1 AVENUE,EAST 102 STREET,NaN,...,Fatigued/Drowsy,Fatigued/Drowsy,Unspecified,NaN,3168058,UNKNOWN,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,UNKNOWN,NaN
983496,02/11/2015,16:45,MANHATTAN,10065,40.763366,-73.959241,"(40.7633655, -73.9592408)",1 AVENUE,EAST 65 STREET,NaN,...,NaN,NaN,NaN,NaN,3168039,TAXI,NaN,NaN,NaN,NaN
982951,02/12/2015,16:56,MANHATTAN,10022,40.757639,-73.963410,"(40.7576386, -73.9634098)",1 AVENUE,EAST 56 STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,3169710,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
981368,02/15/2015,22:10,MANHATTAN,10029,40.783934,-73.944225,"(40.7839338, -73.9442245)",1 AVENUE,EAST 97 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3171916,TAXI,BICYCLE,NaN,NaN,NaN
981322,02/15/2015,1:30,MANHATTAN,10035,40.800980,-73.931774,"(40.8009801, -73.9317744)",1 AVENUE,EAST 124 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3170197,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
981271,02/15/2015,18:00,MANHATTAN,10029,40.787064,-73.941936,"(40.7870644, -73.941936)",1 AVENUE,EAST 102 STREET,NaN,...,Reaction to Other Uninvolved Vehicle,NaN,NaN,NaN,3171911,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
980876,02/16/2015,17:30,MANHATTAN,10128,40.781316,-73.946130,"(40.7813162, -73.9461296)",1 AVENUE,EAST 93 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3170182,SMALL COM VEH(4 TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
980657,02/16/2015,0:05,MANHATTAN,10128,40.780691,-73.946592,"(40.7806906, -73.9465923)",1 AVENUE,EAST 92 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3170175,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
984713,02/09/2015,19:10,MANHATTAN,10028,40.776196,-73.949871,"(40.7761962, -73.9498707)",1 AVENUE,EAST 85 STREET,NaN,...,NaN,NaN,NaN,NaN,3166899,SMALL COM VEH(4 TIRES),NaN,NaN,NaN,NaN
985036,02/08/2015,12:45,MANHATTAN,10029,40.796003,-73.935409,"(40.7960032, -73.9354092)",1 AVENUE,EAST 116 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3165880,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
985239,02/08/2015,21:20,MANHATTAN,10017,40.750765,-73.968427,"(40.7507645, -73.9684267)",1 AVENUE,EAST 45 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3165857,OTHER,OTHER,NaN,NaN,NaN
985250,02/08/2015,22:00,MANHATTAN,10009,40.731351,-73.982555,"(40.7313511, -73.9825546)",1 AVENUE,EAST 14 STREET,NaN,...,NaN,NaN,NaN,NaN,3165832,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
990645,01/29/2015,12:50,MANHATTAN,10021,40.769120,-73.955039,"(40.7691197, -73.9550386)",1 AVENUE,EAST 74 STREET,NaN,...,NaN,NaN,NaN,NaN,3160816,VAN,UNKNOWN,NaN,NaN,NaN
990291,01/30/2015,19:10,MANHATTAN,10065,40.764617,-73.958323,"(40.7646168, -73.9583231)",1 AVENUE,EAST 67 STREET,NaN,...,NaN,NaN,NaN,NaN,3161345,TAXI,NaN,NaN,NaN,NaN
990137,01/30/2015,15:30,MANHATTAN,10075,40.772344,-73.952686,"(40.7723438, -73.9526861)",1 AVENUE,EAST 79 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3160829,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
989886,01/31/2015,8:44,MANHATTAN,10009,40.725777,-73.986604,"(40.7257771, -73.9866041)",1 AVENUE,EAST 5 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3161307,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
989076,02/01/2015,11:15,MANHATTAN,10029,40.788318,-73.941018,"(40.7883183, -73.9410177)",1 AVENUE,EAST 104 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3161875,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
989042,02/01/2015,0:25,MANHATTAN,10128,40.778806,-73.947966,"(40.7788056, -73.9479659)",1 AVENUE,EAST 89 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3161857,TAXI,LIVERY VEHICLE,NaN,NaN,NaN
988975,02/02/2015,8:30,MANHATTAN,10021,40.767803,-73.956000,"(40.7678026, -73.9559998)",1 AVENUE,EAST 72 STREET,NaN,...,Turning Improperly,NaN,NaN,NaN,3162271,VAN,OTHER,NaN,NaN,NaN
980294,02/17/2015,17:15,MANHATTAN,10016,40.744450,-73.973027,"(40.74445, -73.9730274)",1 AVENUE,EAST 35 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3170593,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
988917,02/02/2015,4:30,MANHATTAN,10075,40.772344,-73.952686,"(40.7723438, -73.9526861)",1 AVENUE,EAST 79 STREET,NaN,...,Pavement Slippery,NaN,NaN,NaN,3162268,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
987849,02/03/2015,15:00,MANHATTAN,10021,40.767803,-73.956000,"(40.7678026, -73.9559998)",1 AVENUE,EAST 72 STREET,NaN,...,Turning Improperly,NaN,NaN,NaN,3162836,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105752,07/08/2014,12:00,QUEENS,11101,40.755658,-73.945678,"(40.7556581, -73.9456775)",10 STREET,41 AVENUE,NaN,...,NaN,NaN,NaN,NaN,363702,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1104099,07/11/2014,14:55,QUEENS,11106,40.763129,-73.939715,"(40.7631291, -73.9397152)",10 STREET,35 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,364827,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1136263,05/18/2014,13:40,QUEENS,11101,40.756876,-73.944352,"(40.7568762, -73.9443519)",10 STREET,40 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,337992,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1100703,07/17/2014,12:15,QUEENS,11106,40.763129,-73.939715,"(40.7631291, -73.9397152)",10 STREET,35 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,994739,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
1081696,08/20/2014,10:45,QUEENS,11106,40.760056,-73.941627,"(40.760056, -73.9416275)",10 STREET,37 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,1011950,SMALL COM VEH(4 TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
1114927,06/23/2014,17:30,QUEENS,11101,40.754273,-73.947032,"(40.7542727, -73.9470322)",10 STREET,41 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,357753,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1148076,04/29/2014,9:27,BROOKLYN,11215,40.668579,-73.986799,"(40.6685789, -73.9867994)",10 STREET,5 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,327286,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1183426,02/21/2014,3:02,QUEENS,11106,40.764921,-73.938602,"(40.7649209, -73.9386017)",10 STREET,34 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,279189,SPORT UTILITY / STATION WAGON,VAN,NaN,NaN,NaN
1158586,04/09/2014,20:50,STATEN ISLAND,10306,40.567534,-74.119036,"(40.5675343, -74.1190361)",10 STREET,CANNON BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,318511,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
1232089,11/25/2013,16:30,QUEENS,11101,40.758690,-73.942466,"(40.7586895, -73.9424661)",10 STREET,38 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,278196,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1231618,11/26/2013,22:53,BROOKLYN,11215,40.672005,-73.993879,"(40.672005, -73.9938788)",10 STREET,2 AVENUE,NaN,...,NaN,NaN,NaN,NaN,178801,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
892094,07/15/2015,13:43,QUEENS,11101,40.756876,-73.944352,"(40.7568762, -73.9443519)",10 STREET,40 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3259659,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1223303,12/10/2013,10:35,NaN,NaN,NaN,NaN,NaN,10 STREET,ROSS AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,300341,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1214422,12/25/2013,19:15,QUEENS,11101,40.754273,-73.947032,"(40.7542727, -73.9470322)",10 STREET,41 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,278560,PICK-UP TRUCK,PASSENGER VEHICLE,NaN,NaN,NaN
1207279,01/09/2014,11:51,BROOKLYN,11215,40.664013,-73.977342,"(40.6640129, -73.9773421)",10 STREET,PROSPECT PARK WEST,NaN,...,Unspecified,NaN,NaN,NaN,179013,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1206763,01/10/2014,15:00,QUEENS,11101,40.752218,-73.948806,"(40.7522177, -73.948806)",10 STREET,43 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,244819,LARGE COM VEH(6 OR MORE TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
1204108,01/15/2014,13:30,QUEENS,11101,40.749614,-73.951053,"(40.7496139, -73.9510529)",10 STREET,44 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,244879,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1194049,02/02/2014,12:55,QUEENS,11101,40.751455,-73.949467,"(40.7514549, -73.9494671)",10 STREET,43 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,245095,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1191964,02/05/2014,10:50,QUEENS,11101,40.750248,-73.950511,"(40.7502477, -73.950511)",10 STREET,44 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,245144,LARGE COM VEH(6 OR MORE TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
1185828,02/16/2014,15:10,QUEENS,11101,40.758690,-73.942466,"(40.7586895, -73.9424661)",10 STREET,38 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,279132,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1173640,03/12/2014,20:48,QUEENS,11106,40.766474,-73.937636,"(40.7664739, -73.9376364)",10 STREET,33 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,307375,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1170429,03/18/2014,17:25,QUEENS,11101,40.749614,-73.951053,"(40.7496139, -73.9510529)",10 STREET,44 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,308121,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1170323,03/18/2014,14:50,NaN,NaN,NaN,NaN,NaN,10 STREET,VERNON BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,307432,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1164262,03/29/2014,0:28,QUEENS,11101,40.749614,-73.951053,"(40.7496139, -73.9510529)",10 STREET,44 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,312784,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1155394,04/14/2014,10:55,QUEENS,11106,40.763129,-73.939715,"(40.7631291, -73.9397152)",10 STREET,35 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,320915,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN
1079686,08/24/2014,12:15,NaN,NaN,NaN,NaN,NaN,10 STREET,ROSE AVENUE,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,1013279,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
992420,01/25/2015,18:25,QUEENS,11106,40.764921,-73.938602,"(40.7649209, -73.9386017)",10 STREET,34 AVENUE,NaN,...,Driver Inattention/Distraction,Driver Inattention/Distraction,Unspecified,Unspecified,3159386,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON
1074845,09/02/2014,15:49,QUEENS,11101,40.755658,-73.945678,"(40.7556581, -73.9456775)",10 STREET,41 AVENUE,NaN,...,Unspecified,Unspecified,Unspecified,NaN,1017670,PASSENGER VEHICLE,PASSENGER VEHICLE,VAN,SPORT UTILITY / STATION WAGON,NaN
945651,04/19/2015,11:10,BROOKLYN,11215,40.669754,-73.989218,"(40.6697539, -73.989218)",10 STREET,4 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3205932,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
943989,04/22/2015,16:20,BROOKLYN,11215,40.665155,-73.979721,"(40.6651551, -73.9797207)",10 STREET,8 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3207822,SPORT UTILITY / STATION WAGON,PICK-UP TRUCK,NaN,NaN,NaN